parameters:
    level: 7
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    paths:
        - src
    excludes_analyse:
        - src/Console/Installer.php
    ignoreErrors:
        #TODO: fix this! UsersController use it's UserModel,  but Error "Access to an undefined property" occured
        - '#Access\ to\ an\ undefined\ property\ App\\Controller\\UsersController::\$Users.#'